/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

/* Header Styling */
header {
    text-align: center;
    background-color: white;
    color: white;
    padding: 20px 0;
}

/* Profile Container Styling */
.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50; /* Changed background color to green */
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    color: white;
}

/* Profile Information Styling */
.profile-info {
    flex: 1;
}

/* Profile Picture Styling */
.profile-pic-container {
    flex: 0 0 auto;
    margin-left: 300px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.profile-name {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

/* Objective Styling */
.objective {
    font-style: italic;
    max-width: 600px;
    color: #e0e0e0;
    margin: 0 auto; /* Center the text */
}

/* Social Links Styling */
.social-links {
    margin-top: 15px;
    text-align: center;
}
.social-links a {
    text-decoration: none; /* Remove the default underline */
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* Navigation Bar */
nav {
    background: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4CAF50;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Sections */
section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
}

/* Card Styling */
.section-card {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.rounded {
    border-radius: 8px;
}

.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic-container {
        margin-left: 0;
        margin-top: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
